@font-face {
  font-family: JazBold;
  src: url(./assets/fonts/Al-Jazeera-Arabic-Bold_1.ttf),
}
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-zinc-100;
  @apply text-neutral-900;
  font-family: JazBold, sans-serif;
}